$lineColor: #3d3f9a;


.primary-header__burger-btn{
    position: absolute;
    top: 32px;
    left: auto;
    width: 30px;
    height: 24px;
}

.primary-header__burger-btn::before{
    content: '';
    position: absolute;
    top: calc(-50% + 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.burger-btn__line{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: $lineColor;
    transition: transform .25s ease, opacity .25s ease;
}

.burger-btn__line:nth-child(1){
    transform: translateY(-8px);

    // &:hover{
    //     transform: rotate(-45deg);
    // }
}

//.burger-btn__line:nth-child(2){

    // &:hover{
    //     transform: scaleX(0);
    //     opacity: 0;
    // }
//}

.burger-btn__line:nth-child(3){
    transform: translateY(8px);

    // &:hover{
    //     transform: rotate(45deg);
    // }
}